@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body ,#first-page,#second-page,#search-page{
  background-color: #22254b !important;
  font-family: "Poppins", sans-serif !important;
  margin: 0 !important;
  text-shadow: none !important;
}
#second-page {
  background-size: cover !important;
  background-position: center top !important;
  backdrop-filter: brightness(0.3) !important;
}
header {
  background-color: #373b69 !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.brand {
  color: #7378c5 !important;
  background-color: #22254b !important;
  padding: 1rem;
  vertical-align: middle;
  border-radius: 4px;
}
.brand a {
  text-decoration: none;
}
.brand a:hover {
  text-decoration: none;
  color: #7378c5 !important;
}
.search {
  background-color: transparent!important;
  border: 2px solid #22254b !important;
  color: #fff !important;
  font-family: inherit !important;
  font-size: 1rem !important;
  padding: 0.5rem 1rem !important;
}
.ui-input-text{
  background-color: transparent!important;
  outline: none !important;
  border: none !important;
  
}

.search::placeholder {
  color: #7378c5 !important;
}

.search:focus {
  background-color: #22254b !important;
  outline: none;
}
#main {
  display: flex !important;
  flex-wrap: wrap;
}
@media screen and (max-width: 679px) {
  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.movie {
  background-color: #373b69 !important;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2) !important;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
  cursor: pointer;
}
.movie img {
  width: 100%;
  vertical-align: middle;
}
.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}
.movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

.movie-info span.green {
  color: rgb(39, 189, 39);
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: rgb(189, 42, 42);
}
.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  max-height: 100%;
  overflow: auto;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
  cursor: pointer;
  max-height: 80%;
}

.overview h3 {
  margin-top: 0;
}

.movie:hover .overview {
  transform: translateY(0);
}
#chosen-movie {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#movie-id {
  margin-top: 3% !important;
}
.movie-header {
  width: 300px;
  margin: 0 auto;
  color: #eee;
}
.movie-header img {
  width: 100%;
}
.movie-detail {
  color: #eee;
  width: 500px;
  height: 400px;
  text-align: center;
}
.back-to-link {
  margin: 20px 0 !important;
  text-decoration: none !important;
  color: #eee !important;
  background-color: #7378c5 !important;
  padding: 10px;
  text-transform: uppercase !important;
  display: block;
  margin: auto;
  border-radius: 4px;
  text-align: center;
}
.back-to-link:hover {
  background-color: #373b69 !important;
  cursor: pointer !important;
}
#overview {
  background-color: #7378c5;
  padding: 20px 3%;
  border-radius: 5px;
}
.backdrop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-color: #4c4c50;
  z-index: -1;
}
@media screen and (max-width:699px){
  .movie-detail{
    max-width: 100%;
  }
  header {
    justify-content: center;
  }
  header form{
    max-width: 50%;
  }
  .home-page-header{
    flex-direction: column;
  }
  #main{
    flex-direction: column;
    align-items: center;
  }
}
#error{
  background-color: rgb(206, 144, 10);
  color: white;
  border-radius: 5px;
  padding: .8rem;
  text-align: center;
  max-width: 300px;
  width: 100%;
  margin: auto;
  color:#eee;
  text-shadow: none !important;
  font-weight: bold;
  display: none;
}
#login-error{
  background-color: rgb(206, 144, 10);
  color: white;
  border-radius: 5px;
  padding: .8rem;
  text-align: center;
  max-width: 300px;
  width: 100%;
  margin: auto;
  color:#eee;
  text-shadow: none !important;
  font-weight: bold;
  display: none;
}
#login-page,#signin-page {
  background-color: #22254b !important;
  font-family: "Poppins", sans-serif !important;
  margin: 0 !important;
  text-shadow: none !important;
}
#signin-form,#login-form {
  margin: auto;
  width: 70%;
}
.form-fields{
  background-color: #eee !important;
  color: black !important;
  padding: .5rem .5rem !important;
}
.form-button{
width: 200px !important;
margin: auto !important;
display: block !important;
}
#login-container,#signin-container{
  margin-top: 3% !important;
  background: aqua;
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 10px 2%;
  border-radius: 5px;
  text-align: center;
}